.about-heading-container {
  text-align: center;
  margin-top: 3%;
  font-weight: bolder;
}
.about-heading {
  font-weight: bolder;
  margin-bottom: 3%;
}
.about-upper-para {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.about-lower-para {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.about-span {
  color: rgb(63, 186, 194);
}
.about-button {
  text-align: center;
}
