.style2 {
  background-color: transparent !important;
  border-color: rgb(255, 255, 255) !important;
  padding: 3px 15px !important;
}
@media screen and (min-width: 768px) {
  .style2 {
    font-size: 12px !important;
    padding: 3px 3px !important;
  }
}
@media screen and (min-width: 992px) {
  .style2 {
    font-size: 12px !important;
    padding: 3px 3px !important;
  }
}
@media screen and (min-width: 1220px) {
  .style2 {
    background-color: transparent !important;
    border-color: rgb(255, 255, 255) !important;
    padding: 3px 15px !important;
  }
}
