.icon {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .icon-font {
    font-size: 1em;
    margin-left: 53%;
    color: rgb(54, 79, 107);
    /* margin-right: auto; */
  }
  